.App {
  text-align: center;
}

.App-header {
  background-color: #F8D0A0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D17B0F;
}

.header {
  font-family: Impact;
  font-size: 3rem;
  color: #392104;
}

.pointBox {
  padding: 0.5rem;
  background-color: #D17B0F;
  border-color: orange;
  -webkit-text-fill-color: #392104;
  border-width: 0.1rem;
  border-radius: 0;
  font-family: monospace;
  font-size:xx-large;
}

.mainBox {
  padding: 0.5rem;
  margin: 1rem;
  width: 15rem;
  height: 21rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #D17B0F;
  border-color: orange;
  border-width: 0.1rem;
  border-radius: 10%;
}

.button {
  margin: 1rem;
}

.buttonText {
  margin-top: -1rem;
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  color: #392104;
}